.pointer {
    cursor: pointer;
}
.scroll {
    overflow-y: auto;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* RECOLOR & RESKIN */
.custom-radio .custom-control-label::before { border: 1.5px solid #000; }
.custom-radio .custom-control-input:checked~.custom-control-label::before { background-color: #374119; }
.custom-radio .custom-control-input:checked~.custom-control-label::after { background-image: none; }
.custom-checkbox .custom-control-label::before { border: 1.5px solid #000; }
.custom-checkbox .custom-control-input:checked~.custom-control-label::before { background-color: #374119; }

.text-grey { color: #cecece; }
.text-gold { color: #f2cf15; }
.text-white { color: white }
.text-wheat { color: #f5deb3 }
.text-babyblue { color: #90CFF0; }
.text-babypink { color: #FFB6C1; }
.text-darklime {color: #374119 }
.btn-lime:not(.custom-file-label) { background-color: #cd9b9b; }
.custom-file-label.btn-lime::after{background-color: #cd9b9b;}
.brand img {
    max-width: 50px;
}
.modal-xl {
    max-width: 1200px;
}
