{% extends "layout.html" %}

{% set navigation_bar = [
  ('/town/gathering', 'Gathering', 'panel-gathering'),
  ('/town', 'My Town', 'panel-town'),
  ('/world', 'World', 'panel-world'),
  ('/', 'Messages', 'panel-messages'),

] -%}
{% set active_page = active_page|default('index') -%}
  <!--('#', 'Military', 'panel-military'),-->
  <!--('#', 'Statistics', 'panel-statistics'),-->

{% block content %}
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    
    <div class="collapse navbar-collapse" id="navbarsExample02">
      
      <ul class="navbar-nav mx-auto">

        {% for href, name, icon in navigation_bar %}
        <li class="nav-item {% if name == active_page %}active{% endif %}">
          <a href="{{ href }}" class="nav-link"><span class="ra ra-2x ra-{{ icon }}"></span></a>
        </li>
        {% endfor %}

        {% if current_user.admin %}
        <li class="nav-item">
          <a href="/user/list" class="nav-link"><span class="ra ra-2x ra-icon-dashboard text-primary"></span></a>
        </li>
        {% endif %}

      </ul>
      
    </div>
  </nav>

  {% block content_body %}{% endblock %}

{% endblock %}
