<!DOCTYPE html>
{% set navigation_bar = [
  ('/', 'Home'),
] -%}
{% set active_page = 'index' -%}
{% set title = active_page + ' - EME Example website' %}

<html>
<head>
  <title>{{ title }}</title>

  {% block head %}{% endblock %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  {% block og %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://example.com" />
    <meta property="og:image" content="/img/banner.png" />
    <meta property="og:description" content="EME - it really whips the web's ass!" />
  {% endblock %}

  <!-- Bootstrap & Vue.js & Bootstrap-vue -->
  <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.min.css"/>

  <!-- Custom javascript -->
  {% block scripts %}{% endblock %}
<!--  <script src="/js/vendor/polyfill.min.js"></script>-->
<!--  <script src="/js/vendor/bootstrap-native.min.js" ></script>-->

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  {% block styles %}{% endblock %}

</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/oboforty/eme" target="_blank">
      <div class="bg-danger border border-dark p-2 rounded-circle text-white">EME</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav">
        {% for href, name in navigation_bar %}
        <li class="nav-item {% if name == active_page %}active{% endif %}">
          <a href="{{ href }}" class="nav-link"><span class="ra ra-2x ra-{{ name }}"></span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
<!--    <div class="mx-auto order-0">-->
<!--      <a class="navbar-brand mx-auto" href="#">Navbar 2</a>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--    </div>-->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

      {% if current_user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ current_user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('Users.get_index') }}">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('Users.get_logout') }}">Logout</a>
            </div>
          </li>
        </ul>
      {% else %}
        <div class="navbar-nav ml-auto">
          {% include 'users/login_navbar.html' %}
        </div>
      {% endif %}
    </div>
  </nav>


  {% block content %}{% endblock %}

  <script src="https://cdn.polyfill.io/v2/polyfill.js"></script>
  <script src="/js/vendor/bootstrap-native.min.js"></script>

</body>
</html>