{% extends "layout_admin.html" %}
{% set active_page = "Users" %}

{% block content_body %}
  <div class="container">
    <h1 class="text-white font-brand">Users</h1>

    <div class="card-paper p-2 rounded-lg">


      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Email</th>
            <th>User</th>
            <th>World</th>
            <th>Town</th>
            <th>Points</th>
            <th>Created</th>
            <th>Last update</th>
          </tr>
        </thead>
        <tbody>
          {% for uinfo in users %}
          <tr>
            <td>{{ uinfo.email }}</td>
            <td>
              {{ uinfo.username }}
                <a href="/user/edit?uid={{ uinfo.uid }}" title="{{ uinfo.uid }}">Edit</a>
            </td>
            <td>
              {% if uinfo.wid %}
                <a href="/world/edit?wid={{ uinfo.wid }}" title="{{ uinfo.wid }}">Edit</a>
              {% else %}
                None
              {% endif %}
            </td>
            <td>
              {% if uinfo.wid and not uinfo.iso %}
                <b class="text-danger">! USER HAS NO TOWN !</b>
              {% elif uinfo.iso %}
                <a href="/town/edit?wid={{ uinfo.wid }}&iso={{ uinfo.iso }}">Edit</a>

                <a href="/town/{{ uinfo.iso }}/adminview?wid={{ uinfo.wid }}">View</a>
              {% else %}
                None
              {% endif %}
            </td>
            <td>
              {{ points[uinfo.iso] }}
            </td>
            <td>
              {% if uinfo.created_at: %}
                {{ uinfo.created_at.ctime() }}
              {% endif %}
            </td>
            <td>
              {% if uinfo.last_update: %}
                {{ uinfo.last_update.ctime() }}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}

