<!doctype html>
<html>
  <head>
    <title>Lauren</title>

    <meta charset="UTF-8" />

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link REL="shortcut icon" HREF="favicon.ico"/>
    {% block head %}{% endblock %}

    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/icons.css" rel="stylesheet">
    {% block styles %}{% endblock %}

    <script src="//unpkg.com/vue@2.5.16/dist/vue.js" defer></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js" defer></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js" defer></script>

    <script src="/js/ra.min.js" defer></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-light">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" style="max-width: 40px"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">L</span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Upload</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/files">My files</a>
          </li>

          {% if not current_user %}
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/users/profile">My account</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>-->

    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
