{% extends "layout.html" %}
{% set active_page = "Users" %}

{% block content %}
  <div class="container">
    <h1>Users</h1>

    <div class="p-2 rounded-lg">


      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Email</th>
            <th>User</th>
            <th>Points</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          {% for uinfo in users %}
          <tr>
            <td>
              <img class="pfp" data-face="{{ uinfo.face|ejson }}">
            </td>
            <td>{{ uinfo.email }}</td>
            <td>
              {{ uinfo.username }}
                <a href="{{ url_for('UsersDev.get_edit', uid=uinfo.uid) }}" title="{{ uinfo.uid }}">Edit</a>
            </td>
            <td>{{ uinfo.points }}</td>
            <td>
              {% if uinfo.created_at: %}
                {{ uinfo.created_at.ctime() }}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="/js/vendor/tf.min.js"></script>
  <script src="/js/vendor/ra.min.js"></script>
  <script type="module">
    import {onReady, get_img} from "/js/autogen/autogen.js";
    Events.fire('window_onload', []);

    const face_weights = {{ current_user.face|ejson }};
    const bgcolor = new Color([72, 89, 255]);
    const color = new Color([255, 255, 255]);

    onReady(()=>{
      for (let d of document.getElementsByClassName('pfp')) {
        const face = JSON.parse(d.getAttribute('data-face'));
        d.src = get_img(face, color, bgcolor);
      }
    });
  </script>
{% endblock %}


