{% extends "layout.html" %}


{% block content %}
  <div class="container">
    <div class="jumbotron">

      <div class="d-flex">
        <div class="m-2">
          <div class="d-inline-block p-2 bg-doors rounded border-dark border">
            <img id="pfp" class="user-pfp">
          </div>
        </div>
        <div class="flex-fill m-2">
          <h1 class="display-4 user-text">
            {{ current_user.username }}
          </h1>

          <p class="lead">This is your Doors account.</p>

          <a href="{{ url_for('Home.get_edit_img') }}" class="btn btn-link" >Edit</a>
        </div>
      </div>
      <hr/>

      <p><b>Points:</b> {{ current_user.points }}</p>
    </div>


  </div>
{% endblock %}

{% block scripts %}
  <script src="/js/vendor/tf.min.js"></script>
  <script src="/js/vendor/ra.min.js"></script>
  <script type="module">
    import {onReady, get_img} from "/js/autogen/autogen.js";
    Events.fire('window_onload', []);

    const face_weights = {{ current_user.face|ejson }};
    const bgcolor = new Color([72, 89, 255]);
    const color = new Color([255, 255, 255]);

    onReady(()=>{
      $("#pfp").src = get_img(face_weights, color, bgcolor);

    });
  </script>
{% endblock %}

